<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS
    <link rel="stylesheet" href="./static/style.css">-->

    <!--Fonte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--Ícone-->
    <link rel="icon"
          href="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/60/ffffff/external-airplane-airport-vitaliy-gorbachev-lineal-vitaly-gorbachev-2.png"/>

    <title>Recogency</title>
</head>
<body>

<nav class="navbar navBar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">

    <!--Logo navbar-->
    <img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-airplane-airport-vitaliy-gorbachev-fill-vitaly-gorbachev-2.png"
         alt="" height="50" width="50" class="logo"/>

    <div class="container">

        <!--<a class="navbar-brand navA" asp-area="" asp-controller="" asp-action=""></a> Recogency-->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--<div class="container-fluid">
          <a class="navbar-brand" href="#">Home</a>
          <a class="navbar-brand" href="#">Destinos</a>
          <a class="navbar-brand" href="#">Promoções</a>
          <a class="navbar-brand" href="#">Contato</a>
          <a class="navbar-brand" href="#">Cadastro</a>
        </div>-->

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

            <ul class="navbar-nav flex-grow-1 navUl">

                <li class="nav-item">
                    <a class="navbar-brand" href="#">Home</a>
                </li>

                <li class="nav-item">
                    <a class="navbar-brand" href="#">Destinos</a>
                </li>

                <li class="nav-item">
                    <a class="navbar-brand" href="#">Promoções</a>
                </li>

                <li class="nav-item">
                    <a class="navbar-brand" href="#">Contato</a>
                </li>

                <li class="nav-item">
                    <a class="navbar-brand" href="#">Cadastro</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="text-center">
        <div>

            <main class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="display-4">Listagem de clientes</h1>
                    </div>
                </div>

                <class class="row">
                    <class class="col-sm-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Destino</th>
                                <th scope="col">Origem</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Retorno</th>
                                <th scope="col">Saída</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="cliente : ${clientes}">
                                <th scope="row" th:text="${cliente.id}"></th>

                                <td>
                                    <a th:text="${cliente.nome}"
                                       th:href="@{/cliente/{id} (id=${cliente.id})}"></a>
                                </td>

                                <!--<td th:text="${cliente.nome}"></td>-->
                                <td th:text="${cliente.destino}"></td>
                                <td th:text="${cliente.origem}"></td>
                                <td th:text="${cliente.preco}"></td>
                                <td th:text="${cliente.retorno}"></td>
                                <td th:text="${cliente.saida}"></td>

                                <td>
                                    <a th:href="@{/cliente/{id}/editar (id=${cliente.id})}" class="btn btn-warning">Editar</a>
                                    <a th:href="@{/cliente/{id}/excluir (id=${cliente.id})}" class="btn btn-danger"
                                       onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </class>
                </class>

                <div class="row">
                    <div class="col-sm-12">
                        <a th:href="@{/cliente/cadastrar}" class="btn btn-primary">Cadastrar novo cliente</a>
                    </div>
                </div>
            </main>
        </div>
        <!--</main>-->
    </div>
</div>
</div>

<!--JavaScript-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


<footer id="rodape">
    <font size=2>&copy; 2022 - Recogency</font>
</footer>


</body>
</html>